&.easyphotowall__slide--four
    .easyphotowall__slide__photos
        &:nth-child(1)
            .easyphotowall__slide__photos__panel
                height: 100%
        .easyphotowall__slide__photos__panel
            height: 50%
            &:nth-child(1)
                border: 0.6em solid black
                border-right-width: 0.3em
                .easyphotowall__slide__photos__panel__photo
                    animation: easyphotowall-right-in 6s forwards ease
        &:nth-child(2)
            .easyphotowall__slide__photos__panel
                &:nth-child(1)
                    border: 0.6em solid black
                    border-left-width: 0.3em
                    .easyphotowall__slide__photos__panel__photo
                        animation: easyphotowall-left-in 6s forwards ease
                &:nth-child(2)
                    border: 0.6em solid black
                    border-top-width: 0
                    border-left-width: 0.3em
                    border-right-width: 0.3em
                    .easyphotowall__slide__photos__panel__photo
                        animation: easyphotowall-up-in 6s forwards ease
                &:nth-child(3)
                    border: 0.6em solid black
                    border-top-width: 0
                    border-left-width: 0.3em
                    .easyphotowall__slide__photos__panel__photo
                        animation: easyphotowall-down-in 6s forwards ease
