doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Demo
        link(rel="stylesheet", href="css/master.css")
body
    #easyphotowall
        ul
            li
                img(src="img/1.jpg", alt="")
            li
                img(src="img/2.jpg", alt="")
            li
                img(src="img/3.jpg", alt="")
            li
                img(src="img/4.jpg", alt="")
            li
                img(src="img/5.jpg", alt="")
            li
                img(src="img/6.jpg", alt="")
            li
                img(src="img/7.jpg", alt="")
            li
                img(src="img/8.jpg", alt="")
            li
                img(src="img/9.jpg", alt="")
            li
                img(src="img/10.jpg", alt="")
            li
                img(src="img/11.jpg", alt="")
            li
                img(src="img/12.jpg", alt="")
            li
                img(src="img/13.jpg", alt="")
            li
                img(src="img/14.jpg", alt="")
            li
                img(src="img/15.jpg", alt="")
            li
                img(src="img/16.jpg", alt="")
            li
                img(src="img/17.jpg", alt="")
            li
                img(src="img/18.jpg", alt="")
        //- One
        //- .easyphotowall__slide.easyphotowall__slide--one
        //-     .easyphotowall__slide__photos.col-3
        //-         .easyphotowall__slide__photos__panel.col-6
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/1.jpg)")
        //-     .easyphotowall__slide__photos.col-3
        //-         .easyphotowall__slide__photos__panel.col-6
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/1.jpg)")
        
        //- Two
        //- .easyphotowall__slide.easyphotowall__slide--two
        //-     .easyphotowall__slide__photos.col-2
        //-         .easyphotowall__slide__photos__panel.col-6
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/2.jpg)")
        //-     .easyphotowall__slide__photos.col-4
        //-         .easyphotowall__slide__photos__panel.col-6
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/1.jpg)")
        
        //- Three
        //- .easyphotowall__slide.easyphotowall__slide--three
        //-     .easyphotowall__slide__photos.col-4
        //-         .easyphotowall__slide__photos__panel.col-6
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/1.jpg)")
        //-     .easyphotowall__slide__photos.col-2
        //-         .easyphotowall__slide__photos__panel.col-6
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/2.jpg)")
        //-         .easyphotowall__slide__photos__panel.col-6
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/3.jpg)")
    
        //- Four
        //- .easyphotowall__slide.easyphotowall__slide--four
        //-     .easyphotowall__slide__photos.col-3
        //-         .easyphotowall__slide__photos__panel.col-6
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/1.jpg)")
        //-     .easyphotowall__slide__photos.col-3
        //-         .easyphotowall__slide__photos__panel.col-6
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/2.jpg)")
        //-         .easyphotowall__slide__photos__panel.col-3
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/3.jpg)")
        //-         .easyphotowall__slide__photos__panel.col-3
        //-             .easyphotowall__slide__photos__panel__photo(style="background-image: url(img/4.jpg)")
                    
    script(src="js/easyphotowall.js")
    script(type="text/javascript")
        | var photoshow = new Photoshow();
        | photoshow.play();
    
